# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/
venv/

# Instance folder
instance/

# Migrations (optional)
migrations/

# Environment variables
.env

# Seed file (optional)
seed.py
